02_loan_broker/src/wsdl/datdb.cphbusiness.dk_8080/CreditBureau/CreditScoreService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.web.credit.services.bank.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.web.credit.services.bank.org/">

<xs:element name="creditScore" type="tns:creditScore"/>

<xs:element name="creditScoreResponse" type="tns:creditScoreResponse"/>

<xs:complexType name="creditScore">
<xs:sequence>
<xs:element name="ssn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creditScoreResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>