02_loan_broker/src/wsdl/localhost_8080/02_loan_broker/LoanWebservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://loanwebservice.webservice.loanbroker.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://loanwebservice.webservice.loanbroker.com/" name="LoanWebservice">
<types>
<xsd:schema>
<xsd:import namespace="http://loanwebservice.webservice.loanbroker.com/" schemaLocation="http://localhost:8080/02_loan_broker/LoanWebservice?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="loanBroker">
<part name="parameters" element="tns:loanBroker"/>
</message>
<message name="loanBrokerResponse">
<part name="parameters" element="tns:loanBrokerResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="InterruptedException">
<part name="fault" element="tns:InterruptedException"/>
</message>
<portType name="LoanWebservice">
<operation name="hello">
<input wsam:Action="http://loanwebservice.webservice.loanbroker.com/LoanWebservice/helloRequest" message="tns:hello"/>
<output wsam:Action="http://loanwebservice.webservice.loanbroker.com/LoanWebservice/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="loanBroker">
<input wsam:Action="http://loanwebservice.webservice.loanbroker.com/LoanWebservice/loanBrokerRequest" message="tns:loanBroker"/>
<output wsam:Action="http://loanwebservice.webservice.loanbroker.com/LoanWebservice/loanBrokerResponse" message="tns:loanBrokerResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://loanwebservice.webservice.loanbroker.com/LoanWebservice/loanBroker/Fault/IOException"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://loanwebservice.webservice.loanbroker.com/LoanWebservice/loanBroker/Fault/InterruptedException"/>
</operation>
</portType>
<binding name="LoanWebservicePortBinding" type="tns:LoanWebservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loanBroker">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
</binding>
<service name="LoanWebservice">
<port name="LoanWebservicePort" binding="tns:LoanWebservicePortBinding">
<soap:address location="http://localhost:8080/02_loan_broker/LoanWebservice"/>
</port>
</service>
</definitions>