02_loan_broker/src/wsdl/localhost_8080/02_loan_broker/WebserviceBank.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://bank.webservice.loanbroker.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://bank.webservice.loanbroker.com/">

<xs:element name="CalculateInterest" type="tns:CalculateInterest"/>

<xs:element name="CalculateInterestResponse" type="tns:CalculateInterestResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="CalculateInterest">
<xs:sequence>
<xs:element name="ssn" type="xs:string" minOccurs="0"/>
<xs:element name="creditScore" type="xs:int"/>
<xs:element name="loanAmount" type="xs:double"/>
<xs:element name="loanDuration" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalculateInterestResponse">
<xs:sequence>
<xs:element name="return" type="tns:offer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="offer">
<xs:sequence>
<xs:element name="interestRate" type="xs:double"/>
<xs:element name="ssn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>